<%= link_to edit_vault_path(@vault), class: "vault-heading__link" do %>
  <h1><%= @vault.name %></h1>
<% end %>

<% if @vault.links.count != 0 %>
  <%= render @vault.links.order(created_at: :desc) %>
<% else %>
  <%= component "null" do %>
    <%= image_tag("items.png", class: "")%>
  <% end %>
<% end %>

<%= link_to "Delete", @vault, method: :delete, data: { confirm: 'Are you sure?' }, class: "vault-heading__link" %>

<%= component "add" %>
