<!DOCTYPE html>
<html>
<head>
  <title>LinkVaults</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Microlink SDK Vanilla/UMD bundle -->
  <script src="https://cdn.jsdelivr.net/npm/react@16/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/styled-components@4/dist/styled-components.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@microlink/vanilla@4.0.0-alpha.3/dist/microlink.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= component "sidebar" do %>
    <%= component "logo" %>
    <%= component "nav" do %>
      <% @vaults.each do |vault| %>
        <%= component "link", link: vault, count: vault.links.count do %>
          <i class="primary fas fa-square"></i>
          <%= vault.name %>
        <% end %>
      <% end %>
      <%= component "link", link: new_vault_path do %>
        <i class="primary fas fa-square"></i>
        New Collection...
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to current_user.email, edit_user_registration_path, class: "link" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "link" %>
    <% end %>
  <% end %>
  <%= component "stage" do %>
    <%= component "container" do %>
      <%= yield %>
    <% end %>
  <% end %>
  <p id="notice" class="notice <%= notice ? "notice-show" : ""%>"><%= notice %></p>
  <p id="alert" class="alert <%= alert ? "alert-show" : ""%>"><%= alert %></p>
  <!-- Call microlink to replace links with cards previews -->
  <script>
    document.addEventListener("turbolinks:load", function (event) {
      microlink('.item__preview')
    })
  </script>
</body>
</html>
