<!DOCTYPE html>
<html>
<head>
  <title>LinkVaults</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Microlink SDK Vanilla/UMD bundle -->
  <script src="https://cdn.jsdelivr.net/npm/react@16/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/styled-components@4/dist/styled-components.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@microlink/vanilla@4.0.0-alpha.3/dist/microlink.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="vault-body">
  <%= yield %>

  <p id="notice" class="notice <%= notice ? "notice-show" : ""%>"><%= notice %></p>
  <p id="alert" class="alert <%= alert ? "alert-show" : ""%>"><%= alert %></p>

</body>
</html>
